.coverage
.idea/
__pycache__/
.idea/
*.swp
*.pyc
*.css
*.html
*.js
test_save.hdf5
docs/doc_build/doctrees
/bin/
/include/
/lib/
/list/
docs/_sources/
docs/_static/
docs/_static/*
docs/py-modindex.html
.cache
/doctrees/
objects.inv
