.coverage
.idea/
__pycache__/
.idea/
*.swp
*.pyc
*.css
*.html
*.js
*.buildinfo
test_save.hdf5
docs/doc_build/doctrees
/bin/
/include/
/lib/
/list/
/venv/
doc_build/docs
doc_build/doctrees
docs/py-modindex.html
.cache
objects.inv
/build/
/dist/
/mxmcpy.egg-info/
